* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.home-container {
  text-align: center;
  padding: 50px;
  background-color: #f4f4f4;
  width: 100%;
  position: relative;

  /* height: 100vh;  */
}

.home-container h1 {
  color: #333;
  font-size: 2.5em;
}

.home-container p {
  color: #666;
  font-size: 1.2em;
}


.slideshow-container {
  padding-top: 70px; /* Or however much padding you want */
}

.open-pane-button {
  position: absolute;
  top: 50px;
  left: 40px;
  border: none; /* This removes the border */
  background: transparent; /* This makes the button background transparent */
  cursor: pointer; /* This changes the cursor to a hand when hovering over the button */
}